<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | About Us</title>
	</head>

	<body>

		<h1>About Us</h1>
		<p>
			This is the about page. I'm not typing in all the links because the author of the book I'm using is trying to imprint the urls on his readers' brains, and I'm not falling for it!
		</p>

	</body>

</html>